<ul class="media-list">
  <% microposts.each do |micropost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div>
          <% if !Favorite.exists?(user_id:current_user.id,micropost_id:micropost.id) %>
            <%= link_to "お気に入り",micropost_likes_path(micropost), method: :post, class: 'btn btn-primary btn-xs' %>
          <% else %>
            <%= link_to "お気に入り解除",micropost_likes_path(micropost), method: :delete, class: 'btn btn-danger btn-xs' %>
          <% end %>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>